body {
  margin: 0;
  padding: 0;
  background-color: #2e2e2e !important;
  font-family: "Montserrat", sans-serif;
  grid-area: 2 / 2 / 6 / 5;
  
}

#fixed {
  display: fixed;
}

/* Navbar */
.mobile-menu,
.mob-menu-container,
.mob-menu-wrap {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 120px;
  background-color: #2e2e2e;
  -webkit-box-shadow: 0 2px 10px 2px rgba(33, 33, 33, 0.015);
          box-shadow: 0 2px 10px 2px rgba(33, 33, 33, 0.015);
}

.logo img {
  width: 180px;
}

.menu-sec ul.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-sec ul li {
  list-style: none;
  margin: 0 24px;
  font-size: 15px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.menu-sec ul li a {
  text-decoration: none;
  color: #0E90FD;
}

.menu-sec ul li a.active {
  color: #ffffff !important;
  border-bottom: #0E90FD;
}

.menu-sec ul li a:hover {
  color: #ffffff !important;
}

.social-icons i {
  font-size: 19px;
  margin: 0 9px;
  color: #ffffff;
}

#testbutton {
  color: #ffffff
}

.social-icons i:hover {
  color: #0E90FD;
  cursor: pointer;
}

.body-content {
  text-align: center;
}

.body-content h1 {
  color: #0E90FD;
}

.body-content p {
  color: #2e2e2e
}

.colorwhite {
  color : white;
}

.colorwhite:hover {
  color : #0E90FD;
}

.colorwhite1 {
  color : white;
  background-color: #0E90FD;
  padding: 10px;
  border-radius: 7px;
}

.colorwhite1:hover {
  color : #0E90FD;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 7px;
  text-decoration: none;
}

.colorwhite2 {
  color : white;
  background-color: #2e2e2e;
}

.colorwhite2:hover {
  color : #0E90FD;
  background-color: #0E90FD;
}

.colorwhite3 {
  color : white;
}

.colorwhite3:hover {
  color : #0E90FD;
}

main {
  margin-left:5%;
  margin-bottom: 10vh;
  margin-top: 3vh;
  width: 90%;
  display: grid;
  grid-template-columns: 0.2fr repeat(3, 1fr) 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

h1 {
  text-align: center
}

.container-main {
  grid-area: 2 / 2 / 6 / 5;
  background-color: #2e2e2e
}

.container-center {
  grid-area: 2 / 2 / 6 / 5;
}


/*Main Content*/

.content-back {
  background-image: url(../gfx/bg.png);
  background-repeat: no-repeat;
  margin-left:5%;
  width: 90%;
  height: 50vh;
  border-radius: 3vh;
  margin-bottom: 6vh;
}

.content-back h2 {
  margin: 5vh;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.content-back h3 {
  margin: 5vh;
  margin-top: 2vh;
  margin-bottom: 10vh;
  font-size: 25px;
  color: #fffdfd;
  font-weight: bold;
  font-family: sans-serif;
}

.button-back {
  text-decoration: none;
  margin: 5vh;
  margin-right: 0;
  padding: 1.7vh;
  border-radius:1vh;
  color: #ffffff;
  background-color:#0E90FD;
}

.button-back:hover {
  background-color: #0E90FD;
  color: #ffffff;
}




.container-lojaz {
  border-radius: 2vh;
  padding: 3vh;
  background-color: #464646;
  margin-bottom: 25px;
}

.container-lojaz h4 {
  text-align:center;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
}

.container-lojaz p {
  color: #868686;
  margin-bottom: 3vh;
}

.button-containers {
  text-decoration: none;
  border-radius: 1vh;
  background-color: #0E90FD;
  color: #ffffff;
  padding:1.3vh;

}

.container-lojaz a {
  text-align: center;
}

.container-redess {
  border-radius: 2vh;
  padding: 3vh;
}

.container-redess h4 {
  text-align:center;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
}

.container-flexk {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separate-div {
  margin-right: 1vh;
}

.separate-div1 {
  margin-left: 1vh;
}

.myslides {
  display:flex;
  justify-content: end;
}

.slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.carousel-container {
  text-align: center;
  border-radius: 3vh;
  padding: 2vh;
  margin-left: 5%;
  width: 90%;
  background-color: #464646;
}

.carousel-container h5 {
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.carousel-container p {
  text-align: center;
  color: #c3c3c3;
}

.carousel-container img {
  margin: 1vh;
  width: 8vh;
}

.img-container {
  margin-top: 5vh;
}


/*fim index*/

/*Footer*/

.container-footer {
  text-align: center;
  background-color: #464646;
  padding: 4vh;
}

.container-footer h6 {
  color: #fff;
  font-size: 16px;
}

/**/

/*termos*/

#container-termos {
  background-color: #464646;
  border-radius: 2vh;
  padding: 3vh;
}

.termo-t {
  color: fff;
  text-align: center;
}

.container-1 {
  color: #fff;
  text-align: center;
}

.container-2 {
  margin-top: 10vh;
}

.container-2 ul li {
  color: #dadada;
  margin: 3vh;
}


.container-2 ul li i {
  color: #0E90FD;
  margin-right: 1vh;
}